@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-dark-950 text-white antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply px-6 py-3 bg-primary-500 hover:bg-primary-600 text-white font-semibold rounded-lg transition-all duration-200;
  }
  
  .btn-secondary {
    @apply px-6 py-3 bg-dark-800 hover:bg-dark-700 text-white font-medium rounded-lg border border-dark-600 transition-all duration-200;
  }
}
